
/* ABOUT US PAGE CSS STYLESHEET */

/* Here is where the body and the html tag are styled (it doesn't fully change the styling from the navbar) its font-family and size, line-height, box-sizing, margin, overflow, top ,left and backgound-color  */
html, body{
    font-family: "Roboto Slab";
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* The overflow-x is a property that controls the content on horizontal axis, when is set to hidden it will hide the scroll bar for the horizontal axis. */
};

body{
    background-color: #43c867 ;
}


/* BACKGROUND IMAGE HEADER */
/* The height of the header will be set to 100 so the bg-img will acomodate its size */


/* For a better look on mobile the image height will be set to cover the 100% of the view port height. The width will be set to 100vw so it covers and respects the window scale so that the image fits to it */
.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    object-position: top; /* This will help center the image a bit to the top so the persons heads are not cut off from the screen*/
    top: 0;
    left: 0; /* This will help make future elements be visible and not be hidden behind or below the image */
    z-index: -1;
    filter: brightness(0.6);
}

/* It will make the bg-img responsive and center both persons on the screen for the  */
@media (max-width: 500px){
    .bg-img{
        object-position: 59.5%;
    }
}
/* NAVBAR STYLING */
/* This is where the navbar styling starts and it will start by setting its background transparent and editing the navbar-brand and make it responsive
Thanks to */

@media (max-width: 500px){
    .navbar{
        background-color:transparent;
    }

    .navbar ul:first-child {
      background-color: black;
      margin-top: 10px;
      border-radius: 12px;
      border: solid 4px ;  
    } 
}

@media (min-width: 900px){
    .navbar{
        background-color: transparent;
    }
}

/* The navbar-brand will be static and it wont change its form  */
.navbar-brand{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 900;
    font-family: "Eagle Lake";
}


.navbar-brand:hover{
    text-decoration: none;
    color: whitesmoke;
}

.navbar-brand .navbar-brand a{
    text-decoration: none;
    display: block;
    color: whitesmoke;
}

/* When the nav-links are in there initial state as the way its shown to the user, the text decoration is set to none so the anchor tag is not underlined, but when the user hovers the .nav-links the text go through some subtle changes the, font-size increases, the font-weight too and its color*/

.nav-link{ /* Link part */
    text-decoration: none;
    color: whitesmoke;
    font-weight: lighter;
    font-family: "Eagle Lake";
    font-size: 14px;
    margin-top: 10px;
}
.nav-link:hover{ /* Hover Part */
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: 16px;
    font-family: "Eagle Lake";
}
/* This next line will enable the dropdown menu to appear and set its minimum viewport width, the background color of the the dropdown is changed and so its items*/
@media (min-width: 200px){
    .dropdown:hover > .dropdown-menu{
        display: block;
        margin-top: 0;
        background-color: black;
        border-radius: 10px;
    }
     .dropdown-item{
        color:whitesmoke;
     }

    .dropdown-item:hover{
        background-color: limegreen ;
        color:whitesmoke;
        padding: 0 10px
    }

}

/* NAVBAR TOGGLER STYLING */
.navbar-toggler{
    background-color: rgb(197, 188, 188);
    border: none;
    padding: 7px 11px;
    outline: none;
}


/* This next lines are ment to style the cart button that representas the cart page */
/* Here I am targeting the last nav-link child so the cart button can be properly aligned with the rest of the nav links */
.navbar-nav .btn .nav-link:last-child{
    position: relative;
    top: -10px;
}

/* For smaller scrrens (phones and tablets) the cart page logo will have a black background color and border radius */
@media(max-width: 900px){
    .navbar-nav .btn .nav-link:last-child{
        background-color: black;
        border-radius: 12px;
    }
}

/* The cart page icon must have a white colour and make its width fit in to the button element and give it a height that will make it look like it has the same size as the rest of the navbar links */
.bi-shop{
    color: white; 
    width: fit-content;
    height: 22px;
}

/* When the icon is hovered the height will slighty increase making it fit within the button element div and it will change its color from white to a more vivid colour  */
.bi-shop:hover{
    color: limegreen; 
    width: fit-content;
    height: 23px;
    
} 

/* These next lines will be focusing on the styling of the navbar so that it changes its background from transparent to a solid color as soon as the user scrolls, with the use of the trasition CSS property that will enable a smoother transformation effect */
/* All of this was made thanks to a online video that I found on Youtube here is the link https://www.youtube.com/watch?v=gbmV2Lh9dBM&pp=ygUuaG93IHRvIG1ha2UgdHJhbnNwYXJlbnQgbmF2YmFyIGluIGJvb3RzdHJhcCA1IA%3D%3D */

/* First we must create a class that will hold the changes that we want to made to the navbar, this class will have the name of "navbar-scrolled" */

.navbar-scrolled {
    background-color:rgb(0, 0, 1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* The following step is on the aboutPage.js file */

/* After it for the navbar to have a smooth transition between the change of the transparent navbar to the solid navbar background */

.navbar{
transition: all 0.7s;
}


/* HERO SECTION */
/* First for the content on the hero section to be in the center, it is necessary to set its margin-top  */
.hero-section{
    margin-top: 15rem;
    height: 66vh;
}


/* Making the h1 size bigger */
.hero-section .heading h1{
    font-size: 70px;
}

/* It must be equally centered on the middle of the background image too on larger screens */
@media(min-width: 1900px){
    .hero-section{
        margin-top: 23rem;
    }
/* The size of the h1 must be bigger too */
    .hero-section .heading h1{
        font-size: 150px;
    }
}

/* Styling the hero section heading */
.hero-section .heading{
    font-family: "Eagle Lake";
    color: whitesmoke;
    
}

/* Making it responsive to smaller screens */
@media (max-width: 500px){
    .hero-section .heading h1{
        font-size: 50px;
    }
}

.custom-shape-divider-bottom-1686575576 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686575576 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1686575576 .shape-fill {
    fill: #18ed3b;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1686575576 svg {
        width: calc(100% + 1.3px);
        height: 100px;
    }
}


/* DETAIL SECTION STARTS HERE */
/* The Detail Section will be bellow the divider as mentioned on the html file, it willl have a padding top, so it will be a bit spaced from the divider, all of its content will have the same font-family besides the number representing the buttons.
    The background color will be the same as the shape divider color */
.detailSection{
        background: rgb(24,237,59);
        background: linear-gradient(180deg, rgba(24,237,59,1) 2%, rgba(146, 29, 229, 0.827) 85%);
        padding-top: 12rem;
        padding-bottom: 7rem;
}

/* This will style the detail heading  */
.detailSection .detailHeading{
        text-align: center;
        color: black;
        font-family: "Eagle Lake"
}

.detailSecion .detailHeading h1{
        font-size: 50px;
}
.detailSection .detailHeading p{
        font-size: 15px;
        padding-top: 2rem;
}

/* This will set the height of the row and modal row so it fits properly in the viewport height */
.detailSection .container .row{
        height: 80vh;
}

/* Detail button styling */
.detailSection .button{
        height: 40px;
        padding-top: 5rem;
        padding-bottom: 8rem;
    
}
    
.detailSection .button .btn{
        height: 32px;
        padding: 0px 8px;
}
.detailSection .row .button i{
        margin-top: -38px;
}
    
/*The Icons will all have the same size and it will be made bigger so its more visible to the user */
.detailSection .fa-globe::before{
        font-size: 50px;
    }
    
    
.detailSection .fa-house::before{
        font-size: 50px;
    }
    
.detailSection .fa-kitchen-set::before{
        font-size: 50px;
    }
    
.detailSection .fa-hand-holding-heart::before{
        font-size: 50px;
    }
    
.detailSection .fa-users::before{
        font-size: 50px;
    }
    
.detailSection .fa-earth-africa::before{
        font-size: 50px;
    }
    
.detailSection .fa-champagne-glasses::before{
        font-size: 50px;
    }

/* This will style the content from the buttons except the actual button itself */
.detailSection .row .detailName{
        padding: 4px 0px 25px 0px;
        font-size: 22px;
        font-family: "Eagle Lake";
    
} 
    
.detailSection .row .detailNumber{
        font-size: 30px;
        font-family: "Roboto Slab";
}
.detailSection .row .detailNumber2{
        font-size: 30px;
        font-family: "Roboto Slab";
}
    
/* DETAIL SECTION MODAL STYLING STARTS HERE */
.detailSection .modal .modal-content{
        background-image: linear-gradient(135deg, rgb(21, 204, 58), rgb(26, 197, 191));
}
    .detailSecion .modal .modal-content .modal-header h5{
        font-family: 'Eagle Lake';
        font-size: 28px;
        font-weight: 600;
    }
.detailSection .modal .modal-body{
        background-color: black;
    }
    
    
.detailSection .modal .modal-body .col-md-8{
        height: 100%;
    }
    
    
.detailSection .modal .modal-body .col-md-4 .text-block{
        font-family: "Eagle Lake";
        color: whitesmoke;
    }
    
.detailSection .modal .modal-body .col-md-8 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    
    }
    
.detailSection .modal .modal-body .col-md-4 p{
        font-size: 15px;
        text-align: justify;
    }
    
.detailSection .modal .modal-body .col-md-4 h6{
        color: limegreen;
    }  
    
.detailSection .modal .modal-body .col-sm-3 p{
        font-size: 12px;
        text-align: justify;
        margin-right: -30px;
    }
    
.detailSection .modal .modal-body .col-sm-3 h6{
        color: limegreen;
        font-size: 13px
    }  



/* This will set all the lists inside the modal not visible so it can be later turn visible with the help of JQuery effects as soon as the user clicks on the button "CLick Me" */
.detailSection .modal .modal-body .col-md-4 .list{
        display: none;
    }

.detailSection .modal .modal-body .col-md-4 .list li{
        font-size: 15px;
}
/* DETAIL SECTION MODAL ENDS HERE */
/* DETAIL SECTION ENDS HERE */



/* FOR SMALL SCREENS */
/* Detail Section */

/* This will make the container from the detail section more responsive, making it a 6 grid button from lower screens to till the inteded width */
@media(max-width:1200px){
    .detailSection .container{
        max-width: 600px;
    }

}
/* I had to push the svg or shape divider a bit higher because of in some scrrens it displayed a blank space  */
@media(max-width:570px){
    .custom-shape-divider-bottom-1686575576 svg{
        padding-top: 15px;
    }
    .detailSection{
        padding-top: 5rem;
        padding-bottom: 30rem;
    }
    
    .detailSection .detailHeading h1{
        font-size: 40px;
    }

    /* The !important forces the style to be implemented on the browser when a frameworksuch as bootstrap as styling already */
    .detailSection .col .country{
        padding-left: 22px!important;
    }
    
    .detailSection .col .chefs{
        padding-left: 40px!important;
    }

    .detailSection .col .clients{
        padding-left: 35px!important;
    }

    .detailSection .modal .modal-body .container-fluid{
        padding: 0!important;
    }

    .detailSection .modal-body .p-5{
        padding: 0!important;
    }

    .detailSection .modal-body img{
        width: 100%!important;
    }

    .detailSection .modal-body .col-md-8{
        height: 60%!important;
    }

    .detailSection .modal-body h1{
        padding-top:3px;
    }

    .detailSection .modal-body p{
        font-size: 10px!important;
        padding-right: 30px;
    }

    .detailSection .modal .modal-body .col-md-4 .modal-paragraph{
        margin-bottom: 7px;
        margin-bottom: 2px;
    }
    .detailSection .modal .modal-body .col-md-4 .list p{
        margin-top: -28px;
    }

    .detailSection .modal .modal-body .col-md-4 .list li{
        font-size: 10px;
    }

    .detailSection .modal .modal-body .col-md-4 .list ul{
        column-count: 2;
        column-rule: 6px single grey;
        margin-top: -12px;
    }
 

}

/* OUR STORY SECTION */

/* The Our Story Sectin will be bellow the Detail Section */


.ourStory .row:first-child{
    background-color: #921de5d3;
    color: black;
    font-family: "Eagle Lake";
    text-align: center; 
    padding-bottom: 5rem;
}


.ourStory .row h1{
    font-size: 60px;
    padding: 2rem 0 6rem;
    
}

.ourStory .row .text-block span{
    color:limegreen;
    font-size: 12px;
}

.ourStory .row .text-block .storyParagraph{
    display: none;
}

.ourStory .row .col-md-5 .text-block{
    padding: 15px 30px 7px;
    margin: 0px 20px 0px 45px;
    background-color: black;
    border-radius: 15px;
    filter: drop-shadow(-12px 20px 9px black);
}
.ourStory .row .col-md-5:first-child{
    padding-left: 5rem;
}
.ourStory .row .col-md-5 p{
    text-align: justify;
    font-family: 'Eagle Lake';
    font-weight: 600;
    color:whitesmoke;
    
}

.ourStory .row .col-md-7:first-child{
    height: 100%;
    
}


.ourStory .row .col-md-7 img:first-child{
    object-fit: cover;
    width: 90.5%;
    border-radius: 25px;
    filter: drop-shadow(17px 35px 12px black);
    margin-top: 3rem;
    margin-left: -25px;

}


.ourStory .row:nth-child(2){
    background: rgb(186,77,255);
    background: linear-gradient(180deg, rgba(146, 29, 229, 0.827) 44%, rgba(3,18,23,1) 94%);
    padding-bottom: 5rem;
}


.ourStory .row .col-md-5 img{
    object-fit: cover;
    width: 78.5%;
    margin: 0px 0px 0px 60px;
    border-radius:20px;
    filter: drop-shadow(-25px 36px 12px black);

}

.ourStory .row .col-md-5:nth-child(2){
    height: 100% 
}


.ourStory .row .col-md-7:nth-child(2) {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
    text-align: justify;
    padding-right: 6rem;
    font-family: 'Eagle Lake';
    font-weight: 600;
    color: whitesmoke;
}

.ourStory .row .col-md-7 .text-block{
    background-color: black;
    padding: 15px 25px 7px 25px;
    border-radius: 20px;
    filter: drop-shadow(7px 10px 6px black);
}



@media(max-width:570px){
    .ourStory{
        position: relative;
        top: -5px;
        padding: 0;
    }


    .ourStory .row:first-child{
        margin-top: 13rem 0 0 0;
        

    }

    .ourStory .row:first-child .text-block{
        margin: 0px 15px 0px 15px;
        padding: 15px 30px 7px;
    }

    .ourStory .row:first-child .col-md-7 img{
        width: 88,5%;
        margin: 3rem 0;
        filter: drop-shadow(17px 35px 12px lightgrey);
    }

    .ourStory .row:nth-child(2){
        padding-bottom:12rem;
    }
	.ourStory .row:nth-child(2) .col-md-5 img{
		margin: 0px 0px 2rem 0px;
	}	

    .ourStory .row:nth-child(2) .col-md-7{
        padding-right: 37px;
        padding-bottom: 4rem; 
        padding-top: 0;
        margin-top: -3rem;
    }

    .ourStory .row:nth-child(2) .col-md-7 img{
        margin-bottom: 9rem;
    	margin-top: 4rem;	
    }
}

@media(max-width:1050px){
    .ourStory h1{
        padding: 10rem 0 3rem;
    }

    .ourStory .text-block p{
        font-size: 12px;
    }

    .ourStory .text-block{
        margin: 0px;
    }

    .ourStory .col-md-7 img{
        height: 85%;
        margin-top: 2rem;
        margin-left: -15px;
    }

    .ourStory .col-md-7{
        padding: 2rem 0 6rem 2rem;
    }

    .ourStory .col-md-5 img{
        height: 100%;
        width: 90%;
        margin: 0 0 0 35px;
    }
}


/* OUR PURPOUSE SECTION STARTS HERE */

/* Background-color of the section must be the same as the previous section last color */
.ourPurpouse{
    background-color: rgba(3,18,23,1);
    padding: 4rem 0 3rem;
}

.ourPurpouse h1{
    text-align: center;
    font-family: "Eagle Lake";
    padding-bottom: 3rem;
    color: whitesmoke;
    font-size: 50px;
}
/* Making the card border black and more thick and its radius a bit higher */
.ourPurpouse .row .card{
    border: 5px solid black;
    border-radius: 0.6rem;
    height: 85%;
}

/* Reducing the brightness of all the images */
.ourPurpouse .row img{
    filter: brightness(0.5);
    object-fit: cover;
    height: 100%;
}


.ourPurpouse .row .card-title{
    font-family: "Eagle Lake";
    font-size: 35px;
    font-weight: 600;
    color: lime;    
}

.ourPurpouse .row .card-text{
    font-family: "Eagle Lake";
    font-size: 12px;
    color: whitesmoke;
    padding-top: 22rem;
}

/* FOR SMALLER SCREENS */
@media(max-width: 570px){
    .ourPurpouse{
        margin-top: -4rem;
    }

    .ourDiversity .container{
        padding-bottom: 2rem;
    }

    .ourPurpouse .col-4{
        padding: 2px!important;
    }

    .ourPurpouse .card{
        height: 500px;
    }

    .ourPurpouse .card img{
        object-fit: cover;
        height: 100%;
    }

    .ourPurpouse .card .serve{
        object-position: -35px;
    } 

    .ourPurpouse h4{ 
        font-size: 20px!important;
    }

    .ourPurpouse p{
        text-align: justify;
        font-size: 10px!important;
        padding-top: 19rem!important;
    }
}
/* OUR PURPOUSE ENDS HERE */

/* OUR DIVERSITY  STARTS HERE */
.ourDiversity{
    padding-top: 4rem;
    padding-bottom: 3rem;
    background: linear-gradient(180deg, #031217 15%, #0f412c 83%, #1b8b21 98%);
}

.ourDiversity .heading{
    position: absolute;
    z-index: 1;
    text-align: center;
    top: -30px;
    color: whitesmoke;
    font-family: "Eagle Lake"
} 
.ourDiversity h1{
    font-size: 50px;
}

.ourDiversity .slider {
    height: 80vh;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    
}

/* Setting up the slide-track is the second thing to do and it is depandant on the numbers of cards in this case there are in total 16  and each of them will have a width of 420px   */

.ourDiversity .slider-track{
    display: flex; 
    width: calc(420px * 16);
    /* the following line will enable the infinite auto-play scroll  */
    animation: scroll  50s linear infinite;
}

/* This will stop the animation when the user hovers inside the slider-track */
.ourDiversity .slider-track:hover{
    animation-play-state: paused;
}

/* Keyframes are used for animations and is used to have more control over the animation you want to perfom  */

@keyframes scroll {
    /* When the animation is at the beggining nothing will happen */
    0%{
        transform:translateX(0);
    }
    /* When the animation is at the end the it will pull the .slider-track to left with the same width set before but multiplied by 8 because 16/2 = 8 */
    100%{
        transform:translateX(calc(-420px * 8));
    }
}

/* this will set the hight of the image container and its width and style it according to how it is intended to be */
.ourDiversity .slide{
    height: 300px;
    width: 420px;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    border: solid 2px black;
    /* The perspctive is needed for the translateZ to work because it gives the depth */
    perspective: 100px;
}


.ourDiversity img{
    width: 100%;
    object-fit: cover;
    height: 100%;  
    border: solid black 2px;
    border-radius: 18px;
    /* This will make the zoom animation more smoother */
    transition: transform 1s;
    filter: grayscale(1);
}

/* When the user hovers the image the image will make a zoom in animation */
.ourDiversity img:hover{
    transform: translateZ(8px);
    filter: none;
}

@media(max-width:570px){
    .ourDiversity{
      padding-top: 5rem;  
    }

    .ourDiversity .heading{
        position: absolute;
        text-align:  center;
        top: -30px;
        color: whitesmoke;
        font-family: "Eagle Lake";
    }

    .ourDiversity .heading h1{
        font-size: 50px; 
        font-family: "Eagle Lake";
        color: whitesmoke;
    }

    .ourDiversity .heading h5{
        font-size: 12px;
        padding-top: 18px;
    }

    .ourDiversity .heading p{
        font-size: 10px;
    }

    .ourDiversity .slider .slider-track{
        width: calc(350px *16);
    }
     
    .ourDiversity .slider .slide{
        height: 200px;
        width: 250px;
        margin: 6px;
    }
}

/* OUR DIVERSITY SECTION ENDS HERE */

/* JOIN US SECTION STARTS HERE */
.joinUs{
    background-color: whitesmoke;
    padding-top: 2rem;
    font-family: "Eagle Lake";
}

.joinUs .heading{
    font-size: 50px;
    text-align: center;
}

.joinUs .container-fluid .row{
    height: 80vh;
}

.joinUs .row .col .co-md-6 .col-lg-6{
    height: 100%;
}

.joinUs .row img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.joinUs .row .card{
    height: 100%;
    padding: 0;
    margin: 0 -13px;
}

.joinUs .row .card .card-title{
    padding-top: 3%;
    font-size: 40px;
}
.joinUs .row .ourComu .card{
    text-align: end;
} 
.joinUs .row .ourComu .card h5{
    margin-right: 0;
    margin-left: 22rem
}

.joinUs .row .card  h5{
    margin-right: 22rem;
    text-align: justify;
    font-size: 14px;
    font-weight: 600;
}
.joinUs .row .card  p{
    font-size: 12px;
} 
.joinUs .row .card button{
    background-color: limegreen;
    border-color: limegreen;
    color: black;
}















