/* EVENT PAGE CSS STYLESHEET */

/* Here is where the body and the html tag are styled (it doesn't fully change the styling from the navbar) its font-family and size, line-height, box-sizing, margin, overflow, top ,left and backgound-color  */
html, body{
    font-family: "Roboto Slab";
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* The overflow-x is a property that controls the content on horizontal axis, when is set to hidden it will hide the scroll bar for the horizontal axis. */
};

body{
    background-color: #43c867 ;
}

/* BACKGROUND IMAGE HEADER */
/* The height of the header will be set to 100 so the bg-img will acomodate its size */
.bg-img{
    width: 100vw;
    object-fit: cover;
    object-position: 0 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
}

/* NAVBAR STYLING */
/* This is where the navbar styling starts and it will start by setting its background transparent and editing the navbar-brand and make it responsive
Thanks to */

@media (max-width: 500px){
    .navbar{
        background-color:transparent;
    }

    .navbar ul:first-child {
      background-color: black;
      margin-top: 10px;
      border-radius: 12px;
      border: solid 4px ;  
    } 
}

@media (min-width: 900px){
    .navbar{
        background-color: transparent;
    }
}

/* The navbar-brand will be static and it wont change its form  */
.navbar-brand{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 900;
    font-family: "Eagle Lake";
}


.navbar-brand:hover{
    text-decoration: none;
    color: whitesmoke;
}

.navbar-brand .navbar-brand a{
    text-decoration: none;
    display: block;
    color: whitesmoke;
}

/* When the nav-links are in there initial state as the way its shown to the user, the text decoration is set to none so the anchor tag is not underlined, but when the user hovers the .nav-links the text go through some subtle changes the, font-size increases, the font-weight too and its color*/

.nav-link{ /* Link part */
    text-decoration: none;
    color: whitesmoke;
    font-weight: lighter;
    font-family: "Eagle Lake";
    font-size: 14px;
    margin-top: 10px;
}
.nav-link:hover{ /* Hover Part */
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: 16px;
    font-family: "Eagle Lake";
}
/* This next line will enable the dropdown menu to appear and set its minimum viewport width, the background color of the the dropdown is changed and so its items*/
@media (min-width: 200px){
    .dropdown:hover > .dropdown-menu{
        display: block;
        margin-top: 0;
        background-color: black;
        border-radius: 10px;
    }
     .dropdown-item{
        color:whitesmoke;
     }

    .dropdown-item:hover{
        background-color: limegreen ;
        color:whitesmoke;
        padding: 0 10px
    }

}

/* NAVBAR TOGGLER STYLING */
.navbar-toggler{
    background-color: rgb(197, 188, 188);
    border: none;
    padding: 7px 11px;
    outline: none;
}


/* This next lines are ment to style the cart button that representas the cart page */
/* Here I am targeting the last nav-link child so the cart button can be properly aligned with the rest of the nav links */
.navbar-nav .btn .nav-link:last-child{
    position: relative;
    top: -10px;
}

/* For smaller scrrens (phones and tablets) the cart page logo will have a black background color and border radius */
@media(max-width: 900px){
    .navbar-nav .btn .nav-link:last-child{
        background-color: black;
        border-radius: 12px;
    }
}

/* The cart page icon must have a white colour and make its width fit in to the button element and give it a height that will make it look like it has the same size as the rest of the navbar links */
.bi-shop{
    color: white; 
    width: fit-content;
    height: 22px;
}

/* When the icon is hovered the height will slighty increase making it fit within the button element div and it will change its color from white to a more vivid colour  */
.bi-shop:hover{
    color: limegreen; 
    width: fit-content;
    height: 23px;
    
} 

/* These next lines will be focusing on the styling of the navbar so that it changes its background from transparent to a solid color as soon as the user scrolls, with the use of the trasition CSS property that will enable a smoother transformation effect */
/* All of this was made thanks to a online video that I found on Youtube here is the link https://www.youtube.com/watch?v=gbmV2Lh9dBM&pp=ygUuaG93IHRvIG1ha2UgdHJhbnNwYXJlbnQgbmF2YmFyIGluIGJvb3RzdHJhcCA1IA%3D%3D */

/* First we must create a class that will hold the changes that we want to made to the navbar, this class will have the name of "navbar-scrolled" */

.navbar-scrolled {
    background-color:rgb(0, 0, 1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* The following step is on the aboutPage.js file */

/* After it for the navbar to have a smooth transition between the change of the transparent navbar to the solid navbar background */

.navbar{
transition: all 0.7s;
}


/* HERO SECTION */
/* First for the content on the hero section to be in the center, it is necessary to set its margin-top  */
.hero-section{
    margin-top: 15rem;
    height: 470px;
}


/* Making the h1 size bigger */
.hero-section .heading h1{
    font-size: 70px;
}

/* It must be equally centered on the middle of the background image too on larger screens */
@media(min-width: 1900px){
    .hero-section{
        margin-top: 23rem;
    }
/* The size of the h1 must be bigger too */
    .hero-section .heading h1{
        font-size: 150px;
    }
}

/* Styling the hero section heading */
.hero-section .heading{
    font-family: "Eagle Lake";
    color: whitesmoke;
    
}

/* Making it responsive to smaller screens */
@media (max-width: 500px){
    .hero-section .heading h1{
        font-size: 50px;
    }
}

/* BACKGROUND COLOR FOR THE MAIN SECTION OF THE PAGE */
main{
    background-image: linear-gradient(140deg, rgb(29, 208, 91), rgb(239, 36, 255));
    border-top:solid black 10px;
    overflow-y:hidden;
}
/* EVENTS SEARCH BAR STARTS HERE */
.searchBar{
    background-color: black;
    font-family: "Eagle Lake";
    text-align: center;
    color: whitesmoke;
}

.searchBar .col-md-2{
    text-align: center;
}

.searchBar .btn-success{
    border: solid 2px limegreen;
    background-color: black;
}

.searchBar .btn-success:hover{
    border: solid 2px limegreen;
    background-color: limegreen;
    color: black;
}
/* EVENTS SEARCH BAR ENS HERE */

/* EVENT CARDS BOX  STARTS  HERE */
/* The background color for the container/column that holds the event cards will be styled first aalong with its border and margin bottom and it will have a drop-shadow  */
.eventsBox{
    border-radius: 25px;
    background-color: white!important;
    filter: drop-shadow(-15px 80px 40px black);
    margin-bottom: 4rem;
}
/* Thuis will enhance the colors of every column that has a card in it */
.eventsBox .event{
    filter: saturate(1.5);
    font-family: "Eagle Lake";
}
/* The cards will have a drop-shadow and a height that will make the image more visable */
.eventsBox .card{
    height: 250px;
    background-color: black;
    border: 5px solid black;
    filter: drop-shadow(10px 16px 15px black);
}
/* The images inside the cards will have a brighntess filter to lower it  */
.eventsBox .card img{
    object-fit: cover;
    height: 100%;
    filter: brightness(0.7);
}
/* Card text styling */
.eventsBox h5{
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}
.eventsBox p{
    font-size: smaller;
	font-weight: bolder;
	color: white;
	margin-right: 30rem;
	text-align: start;
}

/* Card button styling */
.eventsBox button{
    margin-top: -12px;
    padding: 2px 15px;
}

/* Using the object-position attribute to set how I want the images to be displayed on the cards */
.eventsBox .imgColor{
    object-position: 0 62%;
}
.eventsBox .imgSunday{
    object-position: 0 25%;
}
.eventsBox .imgKids{
    object-position: 0 71%;
}
.eventsBox .imgFire{
    object-position: 0 83%;
}
.eventsBox .imgFest{
    object-position: bottoom;
}
.eventsBox .imgWed{
    object-position: 0 55%;
}
.eventsBox .imgTaste{
    object-position: 0 60%;
}
.eventsBox .imgFather{
    object-position: 0 58%;
}
.eventsBox .imgVal{
    object-position: 0 62%;
}


/* FOOTER SECTION STARTS HERE */
footer{
    background-color: black;
    padding: 4rem 0 2rem 0;
    font-family: "Eagle Lake";
    position: relative;

}
/* Styling for the left column of the footer */
footer .row .col-md-12 p{
    margin-right: -9rem;
    text-align: justify;
}
/* Styling for every heading of the footer */
footer .footer-heading{
    color: whitesmoke;
}
/* Make the headings of the right side of the footer smaller */
footer .row .border-left .footer-heading{
    font-size:20px;
}
/* Changing the border-color and centering the ul */
footer .row .border-left{
    border-left: solid limegreen;
}

footer .row .link-list{
    margin-left: -12px;
}
/* Set text-decoration to none to every list item, even when visited */
footer .row .link-item a{
    color: white;
    text-decoration: none;  
    font-size: 12px;
}
footer .row .social h3{
    font-size: 20px;
    color: whitesmoke;
}

footer .row .social-icons i{
    margin-right: 2rem;
    font-size: 15px;
    color:white;
}
footer .row .copyright{
    font-size: 12px
}
.bi-suit-heart-fill{
    color: red;
}

/* FOOTER ENDS HERE */
