
/* HOMEPAGE CSS STYLESHEET */

/* Here is where the body and html tag are styled (it doesn't fully change the styling from the navbar) its  font-family and size, line-height, box-sizing, margin, overflow, top left and backgroiund-color */
html, body{
    font-family: "Roboto Slab";
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
    background-image: linear-gradient(150deg, rgb(29, 208, 91), rgb(239, 36, 255));
}
/* This is where the height of the heros  section is set so when the images and videos are placed they all fit a 100% so they all look the same size no whatter there original size */
.c-item{
   height: 100vh;
}
/* For the images to fit the hero section they have to be set a height of 100% and the object-fit specifies how the child element should be scaled relative to box/parent element established by its height and width, the brightness of the images and video as been altered too */
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* Here is where the carousel caption will be styled according to each hero section */
/*First slide*/
.carousel-caption h3{
    margin-top: -30rem;
    padding-bottom: 5px;
    font-size: 3rem;
    font-family: "Eagle Lake";
}
.carousel-caption h5{
    padding-bottom: 5px;
    font-family: "Eagle Lake";
}
.carousel-caption h1{
    font-size: 6rem;
    font-family: "Eagle Lake";
}
/*Second slide*/
.carousel-caption h2{
    margin-top: -30rem;
    position: relative;
    padding-bottom: 18px;
    text-align: end;
    font-size: 5.3rem;
    font-family: "Eagle Lake";
}
.carousel-caption p{
    text-align: right;
    margin-left: 18rem;
    
}
.carousel-caption button{
    margin-left: 55.4rem;
    background-color: grey;
    border-color: grey;
    border-radius: 8px;
}
/*Third slide*/
.carousel-caption h4{
    font-family: "Eagle Lake";
    margin-top: -30rem;
    padding-bottom: 15px;
    text-align: right;
    font-size: 7rem
}
.caroulsel-caption .underline1 span{
    background-color: lightseagreen;
    margin-top: 18px;
    padding-left: 50rem;
    padding-top: 30rem;
    position: relative;
}

/* The navbar is set to relative so its position can be changed to give a smooth more natural sticky top effect, its margin-top is altered */
.navbar{
    position: relative;
    top: -44rem;
    background-color: transparent;
}
.navbar-brand{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 900;
    font-family: "Eagle Lake";
    font-size: 29px;
    padding-left: 2rem;
    margin-left: 6rem;
}
.navbar-brand:hover{
    text-decoration: none;
    color: whitesmoke;
}

.navbar-brand .navbar-brand a{
    text-decoration: none;
    display: block;
    color: whitesmoke;
}

/* When the nav-links are in there initial state as the way its shown to the user, the text decoration is set to none so the anchor tag is not underlined, but when the user hovers the .nav-links the text go through some subtle changes the, font-size increases, the font-weight too and its color*/

.nav-link{ /* Link part */
    text-decoration: none;
    color: whitesmoke;
    font-weight: lighter;
    font-family: "Eagle Lake";
    font-size: 14px;
}
.nav-link:hover{ /* Hover Part */
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: 18px;
    font-family: "Eagle Lake";
}
@media (min-width: 576px){
    .dropdown:hover > .dropdown-menu{
        display: block;
        margin-top: 0;
    }
}

.navbar-toggler{
    background-color: grey;
    border: none;
    padding: 10px 16px;
    outline: none;
}

.bi-shop{
    color: white; 
    width: fit-content;
    height: 22px;
}
.bi-shop:hover{
    color: limegreen; 
    width: fit-content;
    height: 32.5px;
}

/* CATEGORY SECTION */
/* In this section the category section container will have a margin-top that will, bottom and padding edited so it */
.categorySection .container{
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    padding-left: 5rem;
}

.cat-heading{
    margin-top: -2rem;
}

/* This will bw the code for the white stripe background  */
.skewed {
    position: absolute;
    top: 56.5rem;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: white;
    z-index: 0;
    transform: skewY(0deg);
    transform-origin: top left;
}

.categorySection .container .pattern-diagonal-lines-sm{
    color: turquoise;
    height: 31rem;
    position: relative;
    top: -2rem;
    margin-bottom: -29rem;
    margin-right: -11%;
    margin-left: -20%;
    z-index: 1;  
}

main .cat-heading h2{
    color: whitesmoke;
    font-family: "Eagle Lake";
    padding-bottom: 12px ;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
}

main .cat-heading p{
    color: black;
    text-align: center;
    font-weight: bold;
}

.container .row{
    position:relative;
    z-index: 1
}

.container .card{
    border-color: black;
    border-width: 5px;
    border-radius: 13px;
}

.container .card-body .card-title{
    color:whitesmoke;
    font-family: "Roboto Slab";
    font-weight: 500;
}
.container .col-md-3 .card img{
    object-fit: cover;
    height: 100%;
    border-radius: 7px;
}
.container .col-md-4 .card img{
    object-fit: cover;
    height: 100%;
    border-radius: 7px;
}
.container .col-md-6 .card img{
    object-fit: cover;
    height: 100%;
    border-radius: 7px;
}

/* FEAUTURES SECTION */
.feautureSection .container-fluid{
    background-color: black;
    margin-bottom: 5rem;
    padding-bottom: 12px;
}
.feautureSection .feauture-heading h1{
    text-align: center;
    justify-content: center;
    font-family: "Eagle Lake";
    font-weight: 600;
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: #18ed3b;
    padding-top: 20px;
    padding-bottom: 15px;
}
.feautureSection .row{
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 2rem;
    perspective: 1500px;
}
.feautureSection .card .card-img-top{
    height: 23vw;
}
.feautureSection .card img{
    border-radius: 8px 0 0 0;
    object-fit: cover;
    height: 100%;
}
/* The card will posses a border and border-radius, with it-s background-color changed to a lighter color.
   As I searched for the 3D effect with the elements of the cards, I stumbled on a youtube video that helped me with this process -----------------.
   For the 3D effedct to function it must have the transform-style, this property enables  when asociated with the "preserve-3D" value
   indicates that the children of the element in this case .card  should be in a a 3D-space
    with the help of the perspective property it will give the elements the space in wich they can travel*/
.feautureSection .card{
    margin: 12px;
    border:solid 4px;
    border-radius: 9px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    padding-bottom: 20px;
    transform-style: preserve-3d;
    perspective: 1000px
}

/* Here is the card-body styling.
    I used teansform: tanrslateZ to give all the elements from the card-body div will have depth in relation to the card giving it a 3D effect 
*/
.feautureSection .card-body{
    transform: translateZ(40px);  
    padding: 2rem;
}

/* Stylizing the title, price, , text, star rating, review section and card-footer */
.feautureSection .card .card-body h3{
    text-align: center;
    color: green;
    font-size: 19px;
    font-family: 'Eagle Lake';
    font-weight: 600;
    padding-bottom: 10px;
}
.feautureSection .card .card-body  h5{
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 600;
    font-style: italic;
    font-size:15px;
    padding-bottom: 10px;
    color: black;
}
.feautureSection .card .card-body .card-text {
     color: black;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 600;
    padding-bottom: 10px;
}
.feautureSection .card .card-body .starsRating{
    color: goldenrod ;
    position: relative;
    top: 27px;
    font-size: 14px;
}
.feautureSection .card .card-body .starsRating p{
    margin-left: 100px;
    position: relative;
    bottom: 22px;
    font-weight: 700;
    font-style: italic;
}

.feautureSection .card .card-body .rateButton{
    text-align: right;
    margin-top: -35px;
    margin-right: 1px;
}
.feautureSection .card .card-body .rateButton .likeButton{
    padding-right: 11px;
    font-size: 17px;
    color:#18ed3b; 
}
.feautureSection .card .card-body .rateButton .dislikeButton{
    font-size: 17px; 
    color:#18ed3b;
}

.feautureSection .card .card-footer{
    margin-bottom: -5rem;
    padding: 2px 0 0 0;
    border-top: 2px solid;
    border-color: black 
}
.feautureSection .card .card-footer  p{
    margin-top: 2px;
    font-family: "Eagle Lake";
    font-weight: 600;
    font-size: smaller;
    padding-top: 5px;
}
 .feautureSection .card .card-footer .fa-pepper-hot{
    margin-left: 55px;
    position: relative;
    bottom: 39px;
    font-size: smaller;
    color: crimson;
}
 .feautureSection .card .card-footer .fa-drumstick-bite{
    margin-left: 4px;
    position: relative;
    bottom: 37px;
    font-size: smaller;
    color: darkorange;
}

.feautureSection .card .card-footer .cart-buttons{
    margin-left: 233px;
    position: relative;
    bottom: 58px;
    left: 5px;
}

.feautureSection .card .card-footer button{
    border-style: none;
    color: rgb(23, 126, 23);
    background-color: transparent;
}

/* FEAUATURE SECTION ENDS HERE */


/* COUPON SECTION STARTS HERE */

.couponSection{
    margin-top: -5rem;
}
/* In this section the  */
.couponSection .container{
    align-items: center;
    justify-content: center;
    display:flex;
    width: 100%;
    min-height:100vh;
    margin-right: 5rem;
    margin-left: 2rem;
}


.couponSection .left img{
    width: 60vw;
    height: 100vh;
    display:flex;
    object-fit:cover;
    object-position: center;
    margin-left: -3rem;
}

.couponSection .right{
    margin-left: 10rem;
}

.couponSection .container .right h1{
    font-family: 'Roboto Slab';
    font-weight: 600;
    color: whitesmoke;
    word-spacing: 5px;
    padding-bottom: 20px;
}


/* MODAL SECTION */
/* In this section the modal section will have a lienar-gradient color and it will be centered in the middle of the page, all the content from the modal-dialog will be centered too */

.couponSection .right .modal-content{
    background-image: linear-gradient(135deg, rgb(21, 204, 58), rgb(26, 197, 191));
}

.couponSection .right .modal-header{
    font-weight: 800;
    font-family: "Eagle Lake";
}

.couponSection .right .modal-title{
    font-weight: 700;
    font-family: "Eagle Lake";
}

.couponSection .right .modal-dialog{
    top: 1rem;
}

.couponSection .right .modal-body h3{
    text-align: center;
    font-family: "Eagle Lake";
    font-weight: 600;
    justify-content: center;
}

.couponSection .right .modal-body p{
    text-align: center;
    font-weight: 600;
}

.couponSection .right .modal-body h2{
    text-align: center;
    font-size: 100px;
    font-style: italic;
}

.couponSection .right .modal-body h4{
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
}

.couponSection .right .modal-footer{
    justify-content: center;
}

.couponSection .right .modal-footer button{
    padding-left: 10rem;
    padding-right: 10rem;
}


/* TOP CHOICES */
/* This next lines of code will style and lay-out all the cards for responsiveness using a media query in wich it will only work when the screen is over 567px of width */
@media screen and (min-width:567px){
    .topChoicesSection .carousel-inner .cards-wrapper{
        display: flex;
        margin: 0rem 5rem 1.3rem 5rem;
     }
     .topChoicesSection .carousel-inner .card{
         margin: 1rem;
         width: calc(100%/3); 
         /*This means that the cards will be a third of the total width available
         So that every card can be the same size*/ 
     }
}

@media screen and (max-width:567px){
    .topChoicesSection .card:not(:first-child){
        display: none;
    }

    .topChoicesSection .card-wrapper{
        margin: 0 3rem 2rem 3rem;
    }
}

.topChoicesSection .img-wrapper{
    height: 21.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topChoicesSection{
    background-color: whitesmoke;
    background-image: url("../Images/pattern-8.png");
}

.topChoicesSection .topChoicesHeading h1{
    font-family: "Eagle Lake";
    text-align: center;
    justify-content:center;
    color: black;
    text-decoration: underline;
    text-decoration-color:#18ed3b;
    padding-top: 20px;
    font-weight: 600;
}

.topChoicesSection .card{
    background-color: black;
    border-radius:9px;
    border: solid 4px;
    border-color: black;
    transform-style: preserve-3d;
    perspective: 1000px;
    padding-bottom: 20px;
}

.topChoicesSection .card-body{
    transform: translateZ(40px);
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.topChoicesSection .card .img-wrapper img{
    border-radius: 8px 0 0 0;
    object-fit: cover;
    height: 100%;
}

.topChoicesSection .card .card-body h3{
    text-align: center;
    color: green;
    font-size: 19px;
    margin-top: 5px;
    font-family: 'Eagle Lake';
    font-weight: 600;
    padding-bottom: 10px;
}

.topChoicesSection .card .card-body h5{
    text-align: center;
    color: antiquewhite;
    font-family: 'Roboto Slab';
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 10px;
}

.topChoicesSection .card .card-body .card-text{
    color:whitesmoke;
    text-align: center;
    font-family:'Roboto Slab';
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3rem;
    padding-bottom: 10px;
}


.topChoicesSection .card .card-body .starsRating{
    color:goldenrod;
    font-size: 14px;
    position: relative;
    top: -10px;
    margin-left: 3px;
    font-size: 12px;
}

.topChoicesSection .card .card-body .starsRating p{
    color: goldenrod;
    position: relative;
    font-weight: 700;
    font-style: italic;
    bottom: 20px;
    margin-left: 90px;
}

.topChoicesSection .card .card-body .rateButton{
    text-align: right;
    margin-top: -68px;
    margin-right: 8px;
    padding-bottom: 3px
}

.topChoicesSection .card .card-body .rateButton button{
    background-color: transparent;
    border: none;
    padding: 0
}
.topChoicesSection .card .card-body .rateButton i{
    color: #18ed3b;
}

.topChoicesSection .card .card-body .dislikeButton{
    font-size: 16px;
}

.topChoicesSection .card .card-body .likeButton{
    font-size: 16px;
    padding-right: 8px;
}

.topChoicesSection .card .card-footer{
    background-color:transparent;
    height: 0;
    padding: 1px 0 10px 0;
    border-top: 2px solid;
    border-color: whitesmoke;
}


.topChoicesSection .card .card-footer p{
    font-size: xx-small;
    font-family: "Eagle Lake";
    font-weight: 600;
    text-align: start;
    margin-left: 5px;
    margin-top: 5px;
    color: whitesmoke;
    position: absolute;
}

.topChoicesSection .card .card-footer button{
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: -2px;
    margin-top: 4px;
    padding-right: 4px;
}

.topChoicesSection .card .card-footer .fa-pepper-hot{
    color: maroon;
    position: relative;
    top: -1px;
    margin-left:65px;
    padding-left: 4px;
    font-size: 15px;
}

.topChoicesSection .card .card-footer .fa-drumstick-bite{
    color: orange;
    position: relative;
    top: -1px;
    font-size: 15px;
}

.topChoicesSection .card .card-footer .cart-buttons {
    position: relative;
    left: 2.9rem;
}

.topChoicesSection .card .card-footer .cart-buttons button{
    background-color: transparent;
    border: none;
    padding-left: 8px;
}

.topChoicesSection .card .card-footer .cart-buttons{
   margin-left: 6rem;
}

.topChoicesSection .card .card-footer .fa-cart-plus{
    color:whitesmoke;
    font-size: 13px;
}

.topChoicesSection .card .card-footer .fa-cart-arrow-down{
    color:whitesmoke;
    font-size: 13px;
}

.topChoicesSection .carousel-control-prev{
    background-color: #5cf2a2;
    width: 5%;
    height: 20%;
    top: 15rem;
    left: 0.6rem;
    border-radius: 32rem;

}


.topChoicesSection .carousel-control-next{
    background-color: #5cf2a2;
    width: 5%;
    height: 20%;
    top: 15rem;
    left: 84.7rem;
    border-radius: 32rem;
}

.othersSection{
    margin: 0rem 0 5rem 0;
    background-color: black
}
.othersSection .container-fluid .first-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.othersSection img{
    height: 550px;
    border-radius: 30px;
}

.othersSection .first-block .left{
    margin-right: 1rem;
    margin-left: 4rem;
    margin-top: 4rem;
}

.othersSection .first-block .right{
    margin-top: -8rem;
}

.othersSection .first-block .right h2{
    color: #18ed3b;
    font-family: "Eagle Lake";
    padding-bottom: 15px;
    font-weight: 600;
}
.othersSection .first-block .right p{
    color: whitesmoke;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    margin-right: 9rem;
}

.othersSection .container-fluid .second-block{
    display: flex;
    justify-content:center;
    align-items: center;
}

.othersSection .second-block .left{
    margin-left: 4rem;
    margin-right: 1rem
}

.othersSection .second-block .left h2{
    margin-top: 4rem;
    text-align: right;
    font-family: "Eagle Lake";
    font-weight: 600;
    color:#18ed3b;
}
.othersSection .second-block .left p{
    text-align: justify;
    color:whitesmoke;
    font-size: 16px;
    font-weight: 600;
}

.othersSection .second-block .right{
    margin-right: 2rem;
}

.othersSection .second-block .right img{
    height: 400px;
    margin-bottom: 5rem;
    filter:contrast(120%);
    filter:saturate(170%);
}

/* EXPLORE SECTION */
.exploreSection{
    background-image: linear-gradient(150deg, rgb(29, 208, 91), rgb(239, 36, 255));
    margin-top: -5rem;
}

 .exploreSection .exploreHeading{
    padding: 3rem 5rem 0 5rem;
 }

 .exploreSection .exploreHeading h2{
    font-family: "Eagle Lake";
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: 600;
    text-decoration-style: solid;
    text-decoration: underline;
    text-decoration-color: #18ed3b;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .exploreSection .exploreHeading p{
    justify-content: center;
    text-align:center;
    color: whitesmoke;
    font-weight: 600;
    font-family: "Roboto Slab";
    font-size: 17px;
    padding-bottom: 20px;
}

.exploreSection .card {
    height: 15vw;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
}

.exploreSection .card img{
    object-fit: cover;
    height: 100%;
}

.exploreSection .card .card-img-overlay{
    color: whitesmoke;
}
.exploreSection .card .card-img-overlay p{
    font-size: small;
}

.exploreSection .card #barBlock {
    object-position: 20% 35%;
} 

.exploreSection .card  #eventsBlock {
    filter: brightness(0.6);
}

.exploreSection .card #aboutBlock{
    object-position: 35% 35%;
}

.exploreSection .card .col-sm-12:last-child{
    margin-bottom: 25px;
}
